.song-form {
  display: grid;
  padding: 10px;
  width: 100%;
  height: 100%;
  -webkit-text-stroke: thin;
  grid-gap: 10px;
}

.song-form form {
  display: grid;
  grid-template-areas: 'fimg finputs' 'fbtns finputs';
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto;
  grid-gap: 20px;
  width: 100%;
  height: 100%;
  max-width: 1000px;
  justify-self: center;
  justify-content: normal;
  outline: double;
  padding: inherit;
}

.song-form .form-inputs {
  display: grid;
  grid-area: finputs;
  grid-gap: 10px;
  width: 100%;
  max-width: 400px;
  grid-template-areas: 'ti' 'di' 'ci' 'mi' 'tqi' 'si' 'cli' 'szi' 'pri';
}

.song-form .form-btns {
  display: grid;
  grid-area: fbtns;
  grid-auto-flow: column;
  width: 100%;
  height: fit-content;
  justify-content: right;
  grid-gap: 10px;
  align-content: end;
}

.title-input {
  grid-area: ti;
}

.desc-input {
  grid-area: di;
}



@media (max-width: 850px) {
  .song-form .form-inputs{
    justify-self: center;
  }
}

@media (max-width: 600px) {
  .song-form form {
    grid-template-areas: 'fimg' 'finputs' 'fbtns';
    grid-template-columns: 1fr;
    width: 90vw;
  }
}

@media (max-width: $mobile-breakpoint) {
  .song-form form {
    grid-template-areas: 'fimg' 'finputs' 'fbtns';
    width: 90vw;
  }
}
