.user-form {
  display: grid;
  width: 100%;
  height: 100%;
  -webkit-text-stroke: thin;
}

.user-form form {
  display: grid;
  grid-template-areas: 'fimg finputs' 'fbtns finputs';
  grid-gap: 20px;
  height: 100%;
  width: 450px;
  justify-content: normal;
  outline: double;
  padding: 10px;
}

.user-form .form-inputs {
  display: grid;
  grid-area: finputs;
  grid-gap: 10px;
  width: 100%;
  max-width: 500px;
}

.user-form .form-inputs section {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  grid-gap: 5px;
}

.user-form .form-btns {
  width: 100%;
  grid-area: fbtns;
  height: fit-content;
}

.user-form .form-btns > button:first-child {
  margin-right: 10px;
}

@media (max-width: $mobile-breakpoint) {
  .user-form form {
    grid-template-areas: 'fimg' 'finputs' 'fbtns';
    width: 90vw;
  }
}
