.user-songs {
  display: grid;
  width: 100%;
  height: 100%;
  grid-gap: 20px;
  padding: 0 20px 0 10px;
}

.user-songs .header {
  display: grid;
  width: 100%;
  height: fit-content;
  grid-template-columns: auto 1fr;
  justify-content: start;
  grid-gap: 20px;
  align-items: center;
}

.user-songs .header a {
  width: fit-content;
}
.user-songs h3 {
  margin: 0;
}

.user-songs .content {
  width: 100%;
  max-width: 70vw;
  overflow-x: auto;
}

.user-songs .content ul {
  width: 100%;
  list-style-type: none;
  padding: 10px;
  border: black solid 2px;
}

.user-songs .content > ul > li {
  display: grid;
  grid-template-rows: 1fr auto;
  width: 100%;
  padding: 0;
  margin: 0;
  justify-content: unset !important;
}

.user-songs table {
  width: 100%;
  margin: 0;
}

.user-songs table th,
.user-songs table td {
  font-family: neuzeit !important;
}

.user-songs table td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100px;
}

.user-songs table a,
.user-songs table button {
  justify-self: center;
}

.user-songs .item-expand-btn {
  justify-self: end;
}

.user-songs .item-header {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  width: 100%;
  background-color: $clr5;
}

.user-songs .item-name {
  padding: 10px;
}

.user-songs .song-img {
  width: 100%;
  height: auto;
  border: none;
  max-width: 60px;
}

@media (max-width: $mobile-breakpoint) {
  .user-songs {
    max-width: 500px;
  }

  .user-songs table {
    max-width: 500px;
  }

  .user-songs .content {
    max-width: unset;
  }

  .user-songs table tr {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    width: 100%;
  }

  .user-songs table td {
    display: grid;
    width: 100%;
    display: block;
  }
}
