button {
  border: solid 1px $clr2;
  color: $clr2;
  background-color: inherit;
  margin-bottom: 0.5rem;
  margin: 0px 8px 8px 0px;
  &:hover {
    color: $clr4;
  }
}

.add-song-page button {
  width: fit-content;
  padding: 10px;
}
